<form action="/create" method="post" enctype="multipart/form-data">
    Nhập id : <input type="text" name="id"><br>
    Nhập tên : <input type="text" name="name"><br>
    Nhập phòng : <input type="text" name="department"><br>
    <button type="submit"> Lưu</button>
</form>